#page1.gwd-play-animation .gwd-motion-path-1gwq-anim-x {
  --gwd-motion-path: {
    "tangentFollowing":false, "sections":[ {
      "controlPoints": ["3.88px", "9.58px", "5.72px", "-21.28px", "2.67px", "-19.48px", "-23.12px", "22.58px"], "startTimeMs": 0, "endTimeMs": 500, "easing": "linear"
    }
    , {
      "controlPoints": ["-23.12px", "22.58px", "-19.12px", "14.92px", "-40.12px", "12.25px", "-36.12px", "4.58px"], "startTimeMs": 500, "endTimeMs": 1000, "easing": "linear"
    }
    , {
      "controlPoints": ["-36.12px", "4.58px", "-31.12px", "-0.75px", "-26.12px", "-6.09px", "-21.12px", "-11.42px"], "startTimeMs": 1000, "endTimeMs": 1500, "easing": "linear"
    }
    , {
      "controlPoints": ["-21.12px", "-11.42px", "-21.12px", "-11.42px", "-21.12px", "-11.42px", "-21.12px", "-11.42px"], "startTimeMs": 1500, "endTimeMs": 2000, "easing": "linear"
    }
    ], "positionTol":0.5, "angleTol":1, "optimizationLevel":0
  }
  ;
  animation: 2s linear 0s infinite normal forwards running gwd-motion-path-1gwq-keys-x;
  transform: translate3d(3.88px, 0px, 0px);
}
@keyframes gwd-motion-path-1gwq-keys-x {
  0% {
    transform: translate3d(3.88px, 0px, 0px);
    animation-timing-function: cubic-bezier(0.5414, -1.9138, 0.8501, -1.9136);
  }
  7.5% {
    transform: translate3d(3.55px, 0px, 0px);
    animation-timing-function: cubic-bezier(0.2753, 0.3567, 0.6529, 0.68);
  }
  25% {
    transform: translate3d(-23.12px, 0px, 0px);
    animation-timing-function: cubic-bezier(0.2699, -0.2665, 0.7299, 1.2667);
  }
  50% {
    transform: translate3d(-36.12px, 0px, 0px);
  }
  75% {
    transform: translate3d(-21.12px, 0px, 0px);
  }
  100% {
    transform: translate3d(-21.12px, 0px, 0px);
  }
}
#page1.gwd-play-animation .gwd-motion-path-1gwq-anim-y {
  animation: 2s linear 0s infinite normal forwards running gwd-motion-path-1gwq-keys-y;
  transform: translate3d(0px, 9.58px, 0px);
}
@keyframes gwd-motion-path-1gwq-keys-y {
  0% {
    transform: translate3d(0px, 9.58px, 0px);
  }
  8.13% {
    transform: translate3d(0px, -11.17px, 0px);
  }
  8.75% {
    transform: translate3d(0px, -11.46px, 0px);
    animation-timing-function: cubic-bezier(0.3611, 0.2807, 0.6719, 0.6707);
  }
  25% {
    transform: translate3d(0px, 22.58px, 0px);
    animation-timing-function: cubic-bezier(0.2644, 0.4358, 0.7357, 0.564);
  }
  50% {
    transform: translate3d(0px, 4.58px, 0px);
  }
  75% {
    transform: translate3d(0px, -11.42px, 0px);
  }
  100% {
    transform: translate3d(0px, -11.42px, 0px);
  }
}
#page1.gwd-play-animation .gwd-motion-path-9org-anim-x {
  --gwd-motion-path: {
    "tangentFollowing":false, "sections":[ {
      "controlPoints": ["0px", "0px", "16.01px", "29.62px", "10.8px", "33.67px", "-11.12px", "17.58px"], "startTimeMs": 0, "endTimeMs": 500, "easing": "linear"
    }
    , {
      "controlPoints": ["-11.12px", "17.58px", "-15.45px", "10.92px", "-19.78px", "4.25px", "-24.12px", "-2.42px"], "startTimeMs": 500, "endTimeMs": 1000, "easing": "linear"
    }
    , {
      "controlPoints": ["-24.12px", "-2.42px", "-16.08px", "-1.28px", "-8.04px", "-0.14px", "0px", "1px"], "startTimeMs": 1000, "endTimeMs": 1500, "easing": "linear"
    }
    , {
      "controlPoints": ["0px", "1px", "0px", "1px", "0px", "1px", "0px", "1px"], "startTimeMs": 1500, "endTimeMs": 2000, "easing": "linear"
    }
    ], "positionTol":0.5, "angleTol":1, "optimizationLevel":0
  }
  ;
  animation: 2s linear 0s infinite normal forwards running gwd-motion-path-9org-keys-x;
  transform: translate3d(0px, 0px, 0px);
}
@keyframes gwd-motion-path-9org-keys-x {
  0% {
    transform: translate3d(0px, 0px, 0px);
    animation-timing-function: cubic-bezier(0.2292, 0.4736, 0.8358, 2.7995);
  }
  15.63% {
    transform: translate3d(5.33px, 0px, 0px);
  }
  25% {
    transform: translate3d(-11.12px, 0px, 0px);
  }
  50% {
    transform: translate3d(-24.12px, 0px, 0px);
  }
  75% {
    transform: translate3d(0px, 0px, 0px);
  }
  100% {
    transform: translate3d(0px, 0px, 0px);
  }
}
#page1.gwd-play-animation .gwd-motion-path-9org-anim-y {
  animation: 2s linear 0s infinite normal forwards running gwd-motion-path-9org-keys-y;
  transform: translate3d(0px, 0px, 0px);
}
@keyframes gwd-motion-path-9org-keys-y {
  0% {
    transform: translate3d(0px, 0px, 0px);
  }
  6.25% {
    transform: translate3d(0px, 11.32px, 0px);
    animation-timing-function: cubic-bezier(0.4303, 1.9264, 0.2804, 3.7848);
  }
  25% {
    transform: translate3d(0px, 17.58px, 0px);
  }
  50% {
    transform: translate3d(0px, -2.42px, 0px);
  }
  75% {
    transform: translate3d(0px, 1px, 0px);
  }
  100% {
    transform: translate3d(0px, 1px, 0px);
  }
}
[data-gwd-motion-path-node] {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  pointer-events: none;
}